body {
  background-color: #FFB6C1;
  color: black;
  font-size: 18.5px;
  font-family: cursive;
  font-stretch: semi-condensed;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
}
 img {
   align-self: center;
}
ul {
  align-self: center;
  display: flex;
  justify-content: center;
  margin: 0 1em;
}
